@import 'tailwindcss';
/* ✅현재 디렉토리 내 tailwindcss 파일은 없으나 앞서 tailwindcss 패키지 설치하였으므로 자동으로 불러오게 됨 */
body {
  font-family: 'Pretendard Variable', sans-serif;
}
@theme {
  /* 테일윈즈 일부 설정 재정의 */
  /* --color-*: initial; */
  /* --color-lion: rgb(197, 255, 255); */

  --color-apple-white: #f5f5f7;
  --color-apple-black: #1d1d1f;
  --color-apple-red: #d11719;
  --color-apple-gray: #86868b;
  --color-apple-blue-100: #2997ff;
  --color-apple-blue-200: #0077ed;
  --color-apple-blue-300: #0071e3;
  --color-apple-blue-400: #006edb;

  --lion: repeat(auto-fit, minmax(200px, 1fr));
}

/* root {
  --like-lion: purple;
} */
