@import 'tailwindcss';
@import './../assets/font/pretendard/pretendardvariable.css';
@import './../assets/font/notoserif/notoserif.css';
@import './../assets/font/suit/SUIT-Variable.css';

@theme {
  --color-apple-white: #f5f5f7;
  --color-apple-black: #1d1d1f;
  --color-apple-red: #d11719;
  --color-apple-gray: #86868b;
  --color-apple-blue-100: #2997ff;
  --color-apple-blue-200: #0077ed;
  --color-apple-blue-300: #0071e3;
  --color-apple-blue-400: #006edb;

  --color-ediya-blue: #24388d;
  --color-ediya-blue200: #102457;
  --ediya-blue-gradient: linear-gradient(137deg, #263d83 3.86%, #102457 100%);

  /* index Layout을 위한 그리드 관련 변수 */
  --lion: repeat(auto-fit, minmax(200px, 1fr));

  /* 기본 font-family 설정("Pretendard Variable") */
  /* --font-*: initial; */
  --font-sans: 'Pretendard Variable', sans-serif;
  --font-serif: 'Noto Serif KR', serif;
  --font-suit: 'SUIT Variable', sans-serif;
  
  /* 애니메이션연습 */
  --animate-wobble: wobble 1s ease-in-out infinite;
  @keyframes wobble {
    0%, 100% {
        transform: translateX(0%) rotate(0deg);
    }
    15% {
        transform: translateX(-15px) rotate(-5deg);
    }
    30% {
        transform: translateX(10px) rotate(3deg);
    }
    45% {
        transform: translateX(-10px) rotate(-3deg);
    }
    60% {
        transform: translateX(5px) rotate(2deg);
    }
    75% {
        transform: translateX(-5px) rotate(-1deg);
    }
  }

  /* Kream */
  --color-kream-white: #fff;
  --color-kream-dark:#1F1F21;
  --color-kream-secondary: #eeeeee;
  --color-kream-beige:#E1B37F;
  --color-kream-darkgreen:#5C8D93;
  --color-kream-green: #58DC76;
  --color-kream-red: #B02C20;
}

@layer components{
  .notice{
    @apply flex border border-gray-500 bg-(image:--ediya-blue-gradient);
    
    > div{
      @apply p-4 text-white w-[130px] relative;
    }
  }
  .card-contents{
    > li {
      @apply flex justify-between gap-8 min-w-0
    }
  }

  /* KREAM */
  .component-container{
    @apply flex flex-col gap-4 border-1 p-4  
  }

  
  .component-box{
    @apply flex flex-col gap-4 border-1 p-4 mb-4
  }

  .max-container{
    @apply max-w-[1280px] mx-auto
  }

}


.sub-menu{
  display: none;
  overflow: hidden;
  padding: 1rem;
  width: 100vw;
  position: absolute;
  left:0;
  margin-top: 1rem;
}

.top-menu:hover .sub-menu{
  display: block;
}

.sub-menu > ul{
  float: left;

  &:not(:last-child){
    margin-right: 1rem;
  }
}